<div class="body">
  <div id='app'>
    <div class="notepad--top">
      <div class="note--background">
        <div class="notepad-container">
          <div class="notepad-container--inner">
            <div>
              {{outlet}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>